html,
body,
main.container {
	height: 100%;
}

#cont{
	margin-top: 0.1%;
}

main.container {
	display: table;
	width: 100%;
	margin-top: -50px;
	padding: 0;
	/*set left/right padding according to needs*/
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#figura{
	text-align: center;
}

.card{
	margin-top: 2%; 
}

main .row {
	height: 100%;
	display: table-row;
}

main .sidebar {
	display: table-cell;
	width: 200px;
	background: #56555b;
	color: #fff;
	padding-top: 20px;
	padding-block-end: 20px;
    position: relative;
    left: -2%;
}

main .content {
	display: table-cell;
	vertical-align: top;
	padding-left: 10px;
	padding-top: 20px;
}